body{
  color: #29335C;
  font-family: 'Source Sans Pro', sans-serif;
}
.mainbody{
  background-color: #F6F8FF;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.layer {
  /* background-image: url("back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode:overlay; */
  width: inherit;
  height: inherit;
  text-align: center;
}

#mainhead{
  font-family: 'Staatliches', cursive;
  al
}
.supform{
  background-color: #272D2D;

}
