body{
  color: #29335C;
  font-family: 'Source Sans Pro', sans-serif;
}
.mainbody{
  background-color: #070707;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.jumbotron {
  background: rgb(0,175,181);
  background: linear-gradient(90deg, rgba(0,175,181,1) 0%, rgba(19,111,99,1) 35%, rgba(0,212,255,1) 100%);
}


#mainhead{
  font-family: 'Staatliches', cursive;
  color: white;
  margin-left: 50px;
  margin-bottom: 20px;
}
